body, html {
    padding: 0;
    margin: 0;
    font-family: "Krub", sans-serif;
}

body * {
    box-sizing: border-box;
}

section {
    width: 100%;
}

h1 {
    font-size: 3rem;
    line-height: 1.25;
    font-weight: 100;
    margin: 0;
    margin-left: 0;
    opacity: 1;
    transition: all 1.0s ease;
}

h1.intro {
    opacity: 0;
    margin-left: -8rem;
}

h2 {
    font-size: 1.7rem;
    line-height: 1.25;
    font-weight: 100;
    margin: 0;
    opacity: 0.5;
    margin-left: 12rem;
    transition: all 1.0s ease;
}

h2.intro {
    opacity: 0;
    margin-left: 20rem;
}

h3 {
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 100;
    margin-left: -7rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2;
    font-weight: normal;
}


#splash {
    padding: 8rem 1rem;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#splash .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#splash img {
    /* position: absolute;
    right: 0;
    bottom: 0; */
    height: 400px;
    width: 400px;
}

#about {
    padding: 4rem 8rem;
    text-align: left;
}

#work, #projects {
    padding: 4rem 0;
}

#work h3, #projects h3 {
    padding-left: 8rem;
}

.slideshow {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 4rem;
    padding: 2rem 8rem;
    overflow-x: auto;
}

.slide {
    flex: 0;
    width: 80vw;
    padding: 4rem 6rem;
    border-radius: 1rem;
    border: 1px solid #eee;
    box-shadow: 0 3px 3px #eee;
}

footer {
    padding: 2rem 8rem;
    background-color: #333;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

footer a {
    width: 32px;
    height: 32px;
}

footer img {
    fill: white;
    stroke: white;
}